<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="hidden" style="display: none;"></div>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>