body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
	max-width: 100%;
	display: block;
}

.media {
	width: 30%;
	float: left;
	margin: 1% 3% 1% 0;
}